nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(32, 32, 32);
    color: #ffffff;
}

#LogoName {
    margin: 5px 15px;
}

#navRight {
    display: flex;
    margin: 5px 10px;
    text-align: right;
    align-items: center;
}

#navRight > h6 {
    margin-right: 10px;
}